# **Sesi 5: Pengolahan Data dengan Pandas**

## **Praktek: Memasukkan urutan data sederhana dengan Series​**

## Create Data Series Pandas from List

In [ ]:
#import library pandas
import pandas as pd

#inisiasi list L
L = [1, 3, 6, 3]

In [ ]:
#masukkan list L ke dalam series S dan print isinya
S = pd.Series(L)
print(S)

In [ ]:
#masukkan list L ke dalam series S dengan predefined index
S1 = pd.Series(L, index=['a', 'b', 'c', 'd'])
print(S1)

In [ ]:
#Call elemen berdasarkan index default list dan predefined index
print(S1[0]) #indeks list default
print(S1.a) #predefined indeks

In [ ]:
#menambahkan data Nan di pandas series
import numpy as np
data = pd.Series([7, 10, 15, np.nan, 20, 29, 34, np.nan])
data

## Create DataFrame Pandas from Ndarray

In [ ]:
#Create simple array integer convert to dataseries pandas
a = np.array([2, 4, 6, 8])

print("First element:", a[0])
print("Second element:", a[1])
print("Last element:", a[-1])

In [ ]:
#Convert to Data Series Pandas
b = pd.Series(a)
b = pd.Series(a)
b
b[0] = 7
b

In [ ]:
#len array harus sama
a = pd.DataFrame({'Product': ['A', 'B', 'C', 'D'], 'Sales': [157, 185, 164, 190]})
a

In [ ]:
#Create dataframe dari Nested List yang sudah ada elemen berisikan header/nama kolom
data = [['Name','Rank','Complete'],
        ['one', 1, 1],
        ['two', 2, 1],
        ['three', 3, 1],
        ['four', 4, 1],
        ['five', 5, 1]]
print(data)
print(data[1:]) #ambil semua kolom di baris 1/start indeks 1
print(data[0]) #ambil data di indeks 0

In [ ]:
df = pd.DataFrame(data[1:],columns=data[0])
df

In [ ]:
import pandas as pd
data = [['Bayu',2], ['Sinta',14], ['Eko',20], ['Mita', 5]]
df1 = pd.DataFrame(data, columns=['Name','Age'], dtype=float)
print(df1)

In [ ]:
df1.info()

## **Praktek: Memasukkan data master produk dengan DataFrame​**

In [ ]:
#import library numpy dan pandas
import numpy as np 
import pandas as pd

In [ ]:
#import file ms_produk dan cek isi file di baris 1-2
ms_produk = np.loadtxt('/content/drive/MyDrive/DQLab/Python Metaclass/ms_produk.txt', 
                       dtype='str', skiprows=1, delimiter='\t')
print(ms_produk[0:2])

In [ ]:
#masukkan array ms_produk ke dataframe dengan predefined columns
ms_produk = pd.DataFrame(data=ms_produk, columns=['kode_produk','no_urut',
                         'kategori_produk','nama_produk','harga'])
#tampilkan 5 row teratas dari ms_produk
ms_produk.head()

## **Praktek: Melakukan pengurutan data harga produk pada DataFrame​**

In [ ]:
#mengurutkan dataframe ms_produk berdasarkan harga
ms_produk.sort_values('harga')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#mengurutkan dataframe ms_produk berdasarkan harga secara descending
ms_produk.sort_values('harga', ascending=False)

## **Praktek: Memilih dan memfilter data pada DataFrame​**

In [ ]:
#menampilkan produk berdasarkan indeks, misal indeks ke 5-9 saja
ms_produk.loc[5:10]

In [ ]:
#menampilkan produk berdasarkan indeks, misal indeks ke 5-9 saja
ms_produk.iloc[5:10]

In [ ]:
#menampilkan produk dengan kategori_produk "Alat Tulis Kantor" saja
ms_produk[ms_produk['kategori_produk']=='Alat Tulis Kantor']

In [ ]:
#menampilkan informasi data berdasarkan kolom yang di set sebagai indeks
#set column kode_produk sebagai indeks
ms_produk.set_index("nama_produk", inplace=True)
ms_produk.head()

In [ ]:
#menampilkan informasi detail produk berdasarkan nama_produk yang dijadikan sebagai indeks
ms_produk.loc['Flashdisk DQLab 32 GB']

In [ ]:
#menampilkan informasi detail produk berdasarkan nama_produk yang dijadikan sebagai indeks
ms_produk.loc[['Flashdisk DQLab 32 GB', 'Gift Voucher DQLab 250rb']]